@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #E06646, #E06419);
}

main {
    background-color: white;
    border-radius: 10px; /* para colocar bordas arredondadas*/
    box-shadow: 5px 5px 15px #e0469071; /*quanto anda pro lado, pra baixo, o quanto vai espalhar, cor e transparência */
    width: 600px; /*largura da onde está branco*/
    padding: 10px; /*arredonda as beradas do branco*/
    margin: auto; /*centraliza independente do tamanho da tela*/
}

h1 {
    color: #E04691;
    text-align: center;
    text-shadow: 1px 1px 0px #8d2c5bf3; /*sombra do titulo: pro lado, pra baixo, espalhabilidade, cor e transparencia*/
}

h2 {
    color: #DB6CE0;
}

p {
    text-align: justify;
}