@charset "UTF-8";

body {
    background-color: lightpink;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(1, 1, 3);
    background-color: rgb(79, 55, 6);
}

h2 {
    color: brown;
}

p {
    text-align: justify;
}

